@{
    ViewData["Title"] = "Home";
}
<div class="jumbotron">
    <h3>Welcome to Aiursoft Colossus</h3>
    <p>Please sign in to access your dashboard.</p>
    <div class="btn-group" role="group">
        <a class="btn btn-success btn-lg" asp-controller="Apps" asp-action="Index" role="button">
            <i class="fa fa-pencil"></i>
            View my files
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Upload your file here to share it with others!</h2>
        <form id="fileform" method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Upload">
            <input type="file" name="file" class="dropify" data-max-file-size="1000M" />
            <p class="help margin-top-10">Only 1000MB max.</p>
            <div class="col-xs-12 mt-3 mb-3">
                <input type="button" class="btn btn-primary" value="Upload">
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%"></div>
            </div>
        </form>
    </div>
</div>
@section js{
    <script>
        $(':button').on('click', function () {
            $.ajax({
                url: '/Home/Upload',
                type: 'POST',
                enctype: 'multipart/form-data',
                data: new FormData($('#fileform')[0]),
                cache: false,
                contentType: false,
                processData: false,
                xhr: function () {
                    var myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) {
                        myXhr.upload.addEventListener('progress', function (e) {
                            if (e.lengthComputable) {
                                $('.progress-bar').css('width', 100 * e.loaded / e.total + '%');
                            }
                        }, false);
                    }
                    return myXhr;
                },
                success: function (value) {
                    alert(value);

                }
            });
        });
    </script>
}