@{
    ViewData["Title"] = "Home";
}
<div class="jumbotron">
    <h3>Welcome to Aiursoft Colossus</h3>
    <p>Please sign in to access your dashboard.</p>
    <div class="btn-group" role="group">
        <a class="btn btn-primary btn-lg" asp-controller="Apps" asp-action="Index" role="button">
            <i class="fa fa-pencil"></i>
            View my files
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Upload your file here to share it with others!</h2>
        <form id="fileform" method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Upload">
            <input type="file" name="file" class="dropify" data-max-file-size="1000M" />
            <p class="help margin-top-10">Only 1000MB max.</p>
            <div class="col-xs-12 mt-3 mb-3">
                <input id="uploadButton" type="button" class="btn btn-lg btn-success">
            </div>
            <div class="progress mb-3">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%"></div>
            </div>
            <p class="text-danger" id="message"></p>
            <input class="form-control mb-3" type="text" disabled="disabled" value="" id="address" />
        </form>
    </div>
</div>
@section css{
    <link href="@Values.CdnServerAddress/node_modules/dropify/dist/css/dropify.css" rel="stylesheet">
}
@section js{
    <script src="@Values.CdnServerAddress/node_modules/dropify/dist/js/dropify.js"></script>
    <script>
        $(document).ready(function () {
            $('.dropify').dropify();
        });
    </script>
    <script>
        var init = function () {
            $('.progress-bar').css('width', '0%');
            $('#uploadButton').removeAttr('disabled');
            $('#uploadButton').attr('value', 'Upload to share');
            $('#message').html('');
            $('#address').hide();
        }
        var processing = function () {
            $('#message').html('Please be patient while we are verifying your file...');
        }
        var update = function (e) {
            if (e.lengthComputable) {
                $('.progress-bar').css('width', 100 * e.loaded / e.total + '%');
                $('#message').html(Math.round(e.loaded / e.total * 100) + "%");
                //$('#address').show();
                if (e.loaded == e.total) {
                    processing();
                }
            }

        }
        $(':file').on('change', init);
        $('#uploadButton').on('click', function () {
            $('#uploadButton').attr('disabled', 'true');
            $('#uploadButton').attr('value', 'Uploading...');
            $.ajax({
                url: '/Home/Upload',
                type: 'POST',
                enctype: 'multipart/form-data',
                data: new FormData($('#fileform')[0]),
                cache: false,
                contentType: false,
                processData: false,
                xhr: function () {
                    var myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) {
                        myXhr.upload.addEventListener('progress', update, false);
                    }
                    return myXhr;
                },
                success: function (value) {
                    init();
                    $('#address').val(value.value);
                    $('#address').show();
                }
            });
        });
        init();
    </script>
}